@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* GENERAL STYLING */
html, body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

a {
  color: #6c757d;
  text-transform: uppercase;
}

p {
  line-height: 1.7rem;
}

.row {
  margin-top: 0;
}

.carousel-caption h2, .card h2 {
  font-family: 'Dancing Script', cursive;
  color: #0b0930;
  opacity: 0.7;
}

/* NAVBAR */
header, header nav {
  height: 10vh;
}

nav {
  color: #dad7cd;
  padding-top: 2vh;
  background: #1c1a3f;
  opacity: 0.95;
}

nav a.active::after {
  content: '';
  display: block;
  border-bottom: 1px solid gray;
  width: 100%;
}

a:hover {
  color: white;
  opacity: 0.7;
}

nav a:after {
  content: '';
  display: block;
  border-bottom: 1px solid gray;
  width: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

nav a:hover:after {
  width: 100%;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  text-transform: none;
}

.navbar-nav {
  border-radius: .25rem;
}

#social {
  position: absolute;
  right: 2%;
}

#social a:hover::after, .navbar-brand:hover::after {
  width: 0;
}

.navbar-toggler {
  background-color: #252346;
  border: 2px solid #86848e;
  opacity: .7;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler .fas {
  color: #eae7d9;
  opacity: .7;
}

.navbar-toggler:hover {
  background-color: #eae7d9;
  opacity: .7;
  border: 1px solid transparent;
}

.navbar-toggler:hover .fas {
  color: #252346;
  opacity: .7;
}

/* HOMEPAGE-CAROUSEL */
#homepage-carousel {
  margin-bottom: 0;
  text-align: left;
  background: #eae7d9;
  box-shadow: 0 40vh 26vh #1c1a3f;
}

.carousel-item img {
  object-fit: contain;
  height: 95vh;
  border-bottom: .3vh solid #1c1a3f;
  border-bottom: .3vh solid #1c1a3f;
}

/*HEADING & SEPARATORS*/
#heading-container {
  padding: 5%;
  padding-top: 0;
  padding-left: 0;
}

#heading-container .separator-first {
  margin-top: 0;
  height: 12rem;
}

.separator {
  height: 7.5rem;
}

.heading {
  transform: translate(0, 8vh) !important;
  color: #1c1a3f;
  margin-bottom: 0;
  border-bottom: 1px solid #c2c2cb;
}

.heading h2 {
  opacity: .5;
  letter-spacing: 1em;
}

#separator-hr hr {
  transform: rotate(90deg) translate(60%, 50%);
  width: 63%;
  position: absolute;
  top: 22%;
  left: 20%;
}

/* WORKSHOPS-CAROUSEL */
#workshops-carousel {
  margin-bottom: 5%;
  background: #d4d5dc;
  box-shadow: 0 -1vh 8vh #bfc0c5;
}

#workshops-carousel hr {
  position: absolute;
  top: 70%;
  left: 5%;
  width: 90%;
}

#workshops-carousel .carousel-inner div.w-100 {
  height: 70vh;
  position: absolute;
  top: 0;
  background: linear-gradient(-0deg, transparent, transparent, rgba(215, 215, 219, .2));
  z-index: 10000;
}

#workshops-carousel .carousel-item img {
  object-fit: contain;
  height: 82vh;
  border: none;
}

/*JOIN SECTION*/
#join .container-fluid {
  background: #d2d2d9;
  padding-top: 2em;
}

#join a {
  text-transform: none;
  color: #212529;
}

#join a:hover {
  text-decoration: none;
  opacity: 0.7;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

#card-center {
  border: solid #211d40;
  border-radius: .25rem;
}

#card-center p {
  font-family: 'pt sans';
  font-size: 1rem;
}

#card-center a {
  border: 1px solid #a5acb5;
}

#card-center:hover .card-body {
  background: #1c1b3f;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

#card-center:hover a {
  color: #b4c5c6;
  border: 1px solid;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.card {
  border-style: none;
  text-align: center;
}

.card .card-text {
  font-family: 'Dancing Script', cursive;
  font-size: 1.39rem;
}

.card p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.row .card {
  background: transparent;
}

/*FOOTER*/
#site-footer {
  background: #1c1a3f;
  padding: 1% 2%;
  height: 6vh;
  opacity: 1;
  font-size: .8rem;
  display: none;
}

#site-footer .col-sm-3:last-child {
  color: #c2bfbb;
}

#site-footer h2 {
  margin-top: -2vh;
}

#site-footer h2 a {
  padding: 0;
  color: #c2bfbb;
}

#site-footer a:hover {
  text-decoration: none;
}

/*AOS*/
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: .6s !important;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1077px) {
  .carousel-item img {
    height: initial;
  }
}

@media screen and (max-width: 767px) {
  #homepage-carousel {
    box-shadow: 0 20vh 20vh #1c1a3f;
  }

  .navbar-nav {
    background: #252346;
    width: 50%;
    text-align: center;
    position: absolute;
    right: 0;
  }

  #social {
    background: #252346;
    border-radius: .25rem;
  }

  #heading-container .separator-first {
    height: 5rem;
  }

  .heading h2 {
    font-size: 2.5rem !important;
  }

  #workshops-carousel .carousel-item img {
    height: initial;
  }

  #separator-hr, br {
    display: none;
  }

  #site-footer {
    height: initial;
  }
}

@media screen and (max-width: 575px) {
  .nav-link {
    padding: .5rem 0;
  }

  .heading h2 {
    letter-spacing: .5em;
  }
}

@media screen and (max-width: 370px) {
  .heading h2 {
    letter-spacing: 0.3em;
  }
}
